<html lang="en" >
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Angular Material style sheet -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,400italic">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.css">
</head>
<body ng-app="BlankApp" ng-cloak>
    <!--
    Your HTML content here
    -->  

    <!-- Angular Material requires Angular.js Libraries -->
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-animate.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-aria.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-messages.min.js"></script>

    <!-- Angular Material Library -->
    <script src="http://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.js"></script>

    <script src="./scripts/angular.lodash.min.js"></script>

    <!-- Your application bootstrap  -->
    <script type="text/javascript">    
    /**
     * You must include the dependency on 'ngMaterial' 
     */

    angular.module('BlankApp', ['ngMaterial', 'ngLodash'])
        .controller('AppCtrl', function($scope, $http, lodash) {
            $scope.rankings = [];
            $http.get('./data/espn.top300.json')
                .then(function(response) {
                    $scope.rankings = response.data;
                });


            var teams = lodash.chain($scope.rankings)
                .filter('team')
                .map(function (el) {
                    return lodash.pick(el, 'team');
                })
                .uniqWith(lodash.isEqual)
                .sortBy('team')
                .map('team')
                .value();
            $scope.teams = teams;

            $scope.positionFilter = "";
            $scope.positionFilterOption = "ALL"
            $scope.setPositionFilter = function () {
                if ($scope.positionFilterOption == "ALL") {
                    $scope.positionFilter = "";
                } else {
                    $scope.positionFilter = $scope.positionFilterOption;
                }
            }

            $scope.teamFilter = "";
            $scope.teamFilterOption = "ALL"
            $scope.setTeamFilter = function () {
                if ($scope.teamFilterOption == "ALL") {
                    $scope.teamFilter = "";
                } else {
                    $scope.teamFilter = $scope.teamFilterOption;
                }
            }

            $scope.clearFilters = function() {
                $scope.nameFilter = "";
                $scope.positionFilter = "";
                $scope.positionFilterOption = "ALL";
                $scope.teamFilter = "";
                $scope.teamFilterOption = "ALL";
            }

            $scope.setCardColor = function(i) {
                var theme = "";
                switch (i.position) {
                    case "QB":
                        theme = "dark-red";
                        break; 
                    case "RB":
                        theme = "dark-blue";
                        break; 
                    case "WR":
                        theme = "dark-green";
                        break; 
                    case "TE":
                        theme = "dark-orange";
                        break; 
                    case "K":
                        theme = "dark-purple";
                        break; 
                    case "DST":
                        theme = "dark-grey";
                        break; 
                }
                return theme;
            }
        })
        .config(function($mdThemingProvider) {
            $mdThemingProvider.theme('dark-grey').backgroundPalette('grey');
            $mdThemingProvider.theme('dark-orange').backgroundPalette('orange');
            $mdThemingProvider.theme('dark-purple').backgroundPalette('deep-purple');
            $mdThemingProvider.theme('dark-blue').backgroundPalette('blue');
            $mdThemingProvider.theme('dark-red').backgroundPalette('red');
            $mdThemingProvider.theme('dark-green').backgroundPalette('green');
    });
    </script>
    <div ng-controller="AppCtrl" ng-cloak >
        <div layout="row" layout-xs="column">
            <div flex="100" flex-gt-sm="75">
                <md-content class="md-padding" layout="column">
                    <div layout="row" class="md-padding">
                        <span class="md-headline"flex>Filters</span>
                        <md-button ng-click="clearFilters()" flex="15">Clear Filters</md-button>
                    </div>
                    <div layout="row" class="md-padding">
                        <md-input-container class="md-block" flex="20">
                            <label>Position</label>
                            <md-select ng-model="positionFilterOption"  ng-change="setPositionFilter()" flex>
                                <md-option value="ALL">All</md-option>
                                <md-option value="QB">QB</md-option>
                                <md-option value="RB">RB</md-option>
                                <md-option value="WR">WR</md-option>
                                <md-option value="TE">TE</md-option>
                                <md-option value="K">K</md-option>
                                <md-option value="DST">DST</md-option>
                            </md-select>
                        </md-input-container>
                        <md-input-container class="md-block" flex>
                            <label>Name</label>
                            <input type="text" ng-model="nameFilter" />
                        </md-input-container>
                        <md-input-container class="md-block" flex="20">
                            <label>Team</label>
                            <md-select ng-model="teamFilterOption"  ng-change="setTeamFilter()" flex>
                                <md-option value="ALL">All</md-option>
                                <md-option ng-value="team" ng-repeat="team in teams">{{team}}</md-option>
                            </md-select>
                        </md-input-container>
                    </div>

                    <div layout="row" class="md-padding">
                        <span class="md-headline">Available Players</span>
                    </div>
                    <md-list flex="100">
                        <md-list-item ng-repeat="item in rankings | filter: { enabled: true, position: positionFilter, name: nameFilter, team: teamFilter }">
                            <md-card flex md-theme="{{ setCardColor(item) }}">
                                <md-card-title >
                                    <b>{{item.ranking}}.</b> {{item.name}}
                                </md-card-title>
                                <md-card-content>
                                    <div layout="row">
                                        <span flex="33" style="text-align:center;">
                                            Team: {{item.team}}
                                        </span>
                                        <span flex="33" style="text-align:center;">
                                            Position: {{item.position}}
                                        </span>
                                        <span flex="33" style="text-align:center;">
                                            Position Ranking: {{item.positionRanking}}
                                        </span>
                                    </div>
                                </md-card-content>
                                <md-card-actions layout="row" layout-align="end center">
                                    <md-checkbox
                                        ng-model="item.enabled"
                                        aria-label="Checkbox 2"
                                        ng-true-value="true"
                                        ng-false-value="false"
                                        class="md-warn md-align-top-left hide" flex>
                                        available
                                    </md-checkbox>
                                </md-card-actions>
                            </md-card>
                        </md-list-item>
                    </md-list>
                </md-content>
            </div>
            <div flex hide-sm hide-xs>
                <md-content class="md-padding" layout-xs="column" layout="column">
                    <span flex class="md-headline" style="text-align:center;">Picked</span>
                    <md-list class="md-dense" flex>
                        <md-list-item class="md-3-line" ng-repeat="item in rankings | filter: { enabled: false, position: positionFilter, name: nameFilter, team: teamFilter }">
                            <md-card flex md-theme="{{ setCardColor(item) }}">
                                <md-card-content>
                                    <b>{{item.ranking}}</b> {{item.name}} | Team: {{item.team}} | Position: {{item.position}} | Position Ranking: {{item.positionRanking}} 
                                </md-card-content>
                                <md-card-actions layout="row" layout-align="end center">
                                    <md-checkbox
                                        ng-model="item.enabled"
                                        aria-label="Checkbox 2"
                                        ng-true-value="true"
                                        ng-false-value="false"
                                        class="md-warn md-align-top-left hide" flex>
                                    </md-checkbox>
                                </md-card-actions>
                            </md-card>
                        </md-list-item>
                    </md-list>
                </md-content>
            </div>
        </div>
        
    </div>

    <script>
		(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
		(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
		m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		})(window,document,'script','//www.google-analytics.com/analytics.js','ga');

		ga('create', 'UA-31163101-1', 'vin-e.com');
		ga('send', 'pageview');
	</script>
</body>
</html>